@page
@model LMS.Pages.Teacher.ForumPageModel
@{
    Layout = "TeacherLayout"; 
}

<body>
    <div class="top-bar">
        <h1>
            Exchange your questions!
        </h1>
    </div>
    <div class="main-container">
        <div class="main">
            <div class="header">
                <h4 class="title">@Model.title</h4>
                <h6>@Model.question</h6>
                <div class="bottom">
                    <p class="timestamp">@Model.date</p>
                    <p class="comment-count">@Model.dt.Rows.Count.ToString()</p>
                </div>
            </div>
            <textarea></textarea>
            <button>Add Comment</button>
            <div class="comments">
                @for(int i = 0; i<Model.dt.Rows.Count; i++)
                {
                    <div class="comment">
                        <div class="top-comment">
                        </div>
                        <div class="comment-content">
                            @Model.dt.Rows[i][0]
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <style>
        body {
            margin: 10px 60px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        h1, h2, h3, h4, h5, h6, ol {
            margin: 0;
        }

        p {
            margin: 5px 0;
        }

        textarea {
            width: 80%;
            height: 100px;
            background-color: #e5f2ff;
            border: 1px solid #91a7ff;
            border-radius: 5px;
            padding: 10px;
        }

        button {
            display: block;
            margin: 10px 0;
            background-color: lightblue;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: lightblue;
            }

        .row {
            padding: 5px 0;
        }

        .top-bar {
            background-color: dodgerblue;
            padding: 10px 40px;
        }

        .main {
            background-color: #e5f2ff;
            padding: 10px 15px;
            border: 1px solid #91a7ff;
            border-radius: 5px;
        }

        .comments {
            margin: 40px 0;
        }

        .comment {
            margin: 10px 0;
            background-color: #e5f2ff;
            padding: 10px;
            border: 1px solid #91a7ff;
            border-radius: 5px;
        }

        .bottom, .top-comment {
            display: flex;
            color: black;
            font-size: 12px;
        }

        .comment-ts {
            padding-left: 10px;
        }

        .timestamp {
            padding-right: 10px;
        }
    </style>
</body>